<nav class="navbar-default">
    <div class="navbar-header nvhead">
        <button type="button" class="navbar-toggle" data-toggle="collapse" target="#mynavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>                        
        <a class="nvbar-brand">
            <img src="images/Earth_Globe.png">
        </a>
    </div>
<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-btn btn nvbrlinks">
        <li><a href="index.html">Home</a></li>
        <li><a href="about-us.html">About Us</a></li>
        <li><a href="RCLA.html">Language Center</a></li>
        <li><a href="Translation.html">Translation and Interpretation</a></li>
        <li><a href="Employment.html">Employment Opportunities</a></li>
        <li><a href="Contact.html">Contact Us</a></li>
    </ul>
</div>
</nav>