
.card {
    background-color: #fff;
    box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
    border-radius: 0.375rem;
    color: #000;
  }
  .img-container {
      border: solid black;
      box-shadow: 10px 10px 5px black;
      display: block;
      height: 350px;
  }
  .padThai {
      padding: 10px;
      height: 350px;
  }
  #gir {
      background-image: url("../images/Giraffe.jpeg");
      background-repeat: no-repeat;
      background-size: cover;

  }
  .girText{
      background-color: #808080;
      overflow-wrap: break-word;
      padding: 10px;
      height: 5em;
      width: 100%;
  }
.lion {
    padding: 10px;
    align-content: center;
}
